.form-signin{
	max-width: 400px;
	margin: 0 auto;
};

.Menu {
	margin: 0px;
	padding:0px;
	position: relative;
}
.itemsMenu {
	.hide {
		position: absolute;
		left: -30vw;
	}
	display: inline-block;
	width: 30vw;
	height: 80vh;
	border: 1px solid black;
	& > .displayItem {
		img {
			max-width:15vw;
		}
		& > .graph{
			max-width:29vw;
		}
	    height: inherit;
		overflow-y:auto;
		overflow-x: hidden;
		padding: 5px;
	}
}
.buttonsMenu {
	display: inline-block;
	position: absolute;
	top: 2vh;
	padding: 3px;
	list-style-type:none;
	& > .itemMenu {
		margin: 2px;
	}
}

.badge {
	&:hover{
		cursor:pointer;
	}
}
.custom_badge {
    float: right;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}