{
  "health" : [
    {
      "id" : 1,
      "geolocation" : {
        "lat" : 20.5541,
        "long" : 47.58335
      },
      "rating" : 5,
      "comment" : "I will surely come back here! Pretty place"
    }
  ]
}